:root {
  --bg1: #fff;
  --bg2: #fff;
  --bg_title: #fff;
  --color: #142948;
  --color2: #242e6f;
  --color-dark: #303036;
  --main-color1: #1a75ff;
  --main-color1-hover: #1a75ff29;
  --main-color1-opacity: #0569ff0a;

  --contextBg: #fff;

  --outline: #065eab;

  --selection: #1a75ff65;

  --filter-logo: contrast(1) invert(0);

  --radius-esm: 1px;
  --radius-sm: 2px;
  --radius-md: 5px;
  --radius-lg: 8px;
  --radius-elg: 12px;

  --scroll-track: #e0e0e0;
  --scroll-bar: #c2c2c2;
  --scroll-barHover: #919191;
  --scroll-scroll-draggable: #919191;

  --red: #d32f2f;
  --light_red: #ef5350;
  --green: #388e3c;
  --light_green: #66bb6a;
  --blue: #303f9f;
  --orange: #fb8c00;
  --grey: #757575;
  --light_grey: #cecece;

  --trans-esm: 0.1s all cubic-bezier(0.7, 0, 0.3, 1);
  --trans-sm: 0.15s all cubic-bezier(0.7, 0, 0.3, 1);
  --trans-md: 0.25s all cubic-bezier(0.7, 0, 0.3, 1);
  --trans-lg: 0.5s all cubic-bezier(0.7, 0, 0.3, 1);
  --trans-elg: 0.8s all cubic-bezier(0.7, 0, 0.3, 1);

  --shadowColor: rgba(104, 104, 104, 0.1);
  --shadow: 0 0 13px 0 var(--shadowColor);

  --invert1: invert(1);
  --invert0: invert(0);
}
/* :root{
  --contextBg: #fff;
} */
contextmenuscreen_noupdate {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 9999999999;
  pointer-events: none;
  contain: strict;
  overflow: hidden;
  display: block;
}
contextmenuscreen {
  position: absolute;
  height: 100%;
  width: 100%;
  pointer-events: none;
  contain: content;
  overflow-y: scroll;
  /* display: inline-grid; */
  /* align-items: end; */
}
contextmenu {
  display: flex;
  position: absolute;
  box-shadow: 0 0 13px 0 rgb(29 29 29 / 15%);
  background-color: var(--contextBg);
  border-radius: var(--radius-elg);
  padding: 5px;
  width: 275px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  pointer-events: none;
  opacity: 0;
  transition: var(--trans-md);
  transition-property: opacity;
}
contextmenu[active] {
  pointer-events: auto;
  opacity: 1;
}
contextmenuitem:not([hr]) {
  padding: 5px 10px;
  border-radius: var(--radius-lg);
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-content: stretch;
  transition: var(--trans-md);
  cursor: pointer;
  gap: 10px;
  width: calc(100% - 20px);
  flex-wrap: nowrap;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
contextmenuitem:not([hr]):hover {
  background-color: #8080801a;
}
contextmenuitem[hr] {
  height: 1px;
  background-color: #8080801a;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 8px;
  margin-right: 8px;
  width: calc(100% - 16px);
}
contextmenuitem:not([hr]):hover
  > .contextmenuitem-content
  > .contextmenuitem-more {
  transform: rotate(0deg);
}
.contextmenuitem-ico {
  height: 28px;
  width: 20px;
  border-radius: var(--radius-md);
  text-align: center;
  user-select: none;
  text-align: left;
  line-height: 28px;
  font-size: 19px;
  pointer-events: none;
}
.contextmenuitem-text {
  font-family: gl;
  width: 100%;
  font-size: 16px;
  pointer-events: none;
  user-select: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.contextmenuitem-more {
  height: 28px;
  width: 20px;
  border-radius: var(--radius-md);
  text-align: center;
  pointer-events: none;
  user-select: none;
  line-height: 28px;
  font-size: 19px;
  transition: var(--trans-md);
  transform: rotate(90deg);
}
contextmenulist {
  display: flex;
  position: absolute;
  box-shadow: 0 0 13px 0 rgb(29 29 29 / 15%);
  background-color: var(--contextBg);
  border-radius: var(--radius-elg);
  z-index: 99999;
  padding: 5px;
  width: 260px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  left: -10px;
  top: 15px;
  opacity: 0;
  pointer-events: none;
}
contextmenulist[type="left_top"] {
  left: 0;
  top: 15px;
  bottom: initial;
  transform: translate(-100%, 0px);
  transition: var(--trans-md);
  transition-property: opacity, top, bottom;
  transition-delay: 0.1s;
}
contextmenulist[type="left_bottom"] {
  left: 0;
  bottom: 15px;
  top: initial;
  transform: translate(-100%, 0px);
  transition: var(--trans-md);
  transition-property: opacity, top, bottom;
  transition-delay: 0.1s;
}
contextmenulist[type="right_top"] {
  left: 5px;
  top: 15px;
  bottom: initial;
  transform: translate(100%, 0px);
  transition: var(--trans-md);
  transition-property: opacity, top, bottom;
  transition-delay: 0.1s;
}
contextmenulist contextmenulist[type="right_top"] {
  left: -15px;
}
contextmenulist[type="right_bottom"] {
  left: 5px;
  bottom: 15px;
  top: initial;
  transform: translate(100%, 0px);
  transition: var(--trans-md);
  transition-property: opacity, top, bottom;
  transition-delay: 0.1s;
}
contextmenuitem:hover
  > .contextmenuitem-content
  ~ contextmenulist[type="left_top"] {
  pointer-events: auto;
  opacity: 1;
  transform: translate(-100%, 0px);
  top: 0;
  transition-delay: 0s;
}
contextmenuitem:hover
  > .contextmenuitem-content
  ~ contextmenulist[type="left_bottom"] {
  pointer-events: auto;
  opacity: 1;
  transform: translate(-100%, 0px);
  bottom: 0;
  transition-delay: 0s;
}
contextmenuitem:hover
  > .contextmenuitem-content
  ~ contextmenulist[type="right_top"] {
  pointer-events: auto;
  opacity: 1;
  transform: translate(100%, 0px);
  top: 0;
  transition-delay: 0s;
}
contextmenuitem:hover
  > .contextmenuitem-content
  ~ contextmenulist[type="right_bottom"] {
  pointer-events: auto;
  opacity: 1;
  transform: translate(100%, 0px);
  bottom: 0;
  transition-delay: 0s;
}
.contextmenuitem-ico[red] {
  color: var(--light_red);
  font-size: 16px;
}
.contextmenuitem-ico[orange] {
  color: var(--orange);
  font-size: 16px;
}
.contextmenuitem-ico[yellow] {
  color: #fdd835;
  font-size: 16px;
}
.contextmenuitem-ico[green] {
  color: var(--light_green);
  font-size: 16px;
}
.contextmenuitem-ico[blue] {
  color: var(--blue);
  font-size: 16px;
}
.contextmenuitem-ico[purple] {
  color: #9c27b0;
  font-size: 16px;
}
.contextmenuitem-ico[grey] {
  color: var(--grey);
  font-size: 16px;
}
.contextmenuitem-ico[all] {
  font-size: 14px;
  font-weight: 700;
  opacity: 0.75;
}
.contextmenuitem-content {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  pointer-events: none;
}
contextmenucontent {
  width: 100%;
  background-color: transparent;
  border-radius: var(--radius-md);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
}
contextmenuscreen::-webkit-scrollbar {
  display: none;
}
contextmenuscreen::-moz-scrollbar {
  display: none;
}
contextmenuscreen::-ms-scrollbar {
  display: none;
}
contextmenuscreen::-o-scrollbar {
  display: none;
}
@media only screen and (max-width: 500px) and (min-width: 10px) {
  contextmenuscreen {
    background-color: #0000008c;
    z-index: 99999999;
    opacity: 0;
    transition: var(--trans-lg);
  }
  contextmenuscreen[active] {
    pointer-events: auto;
    opacity: 1;
    transition: var(--trans-md);
  }
  contextmenu {
    bottom: 0px;
    width: calc(100% - 20px);
    left: initial !important;
    top: initial !important;
    /* max-height: 65vh; */
    min-height: 48px;
    border-radius: 0px;
    border-top-right-radius: var(--radius-elg);
    border-top-left-radius: var(--radius-elg);
    padding: 20px 10px 10px 10px;
    transform: translate(0px, 100%);
    transition: var(--trans-lg);
    transition-property: opacity, transform;
    /* contain: content; */
    /* height:fit-content; */
    margin-top: 35vh;
    position: relative;
  }
  contextmenu[active] {
    transform: translate(0px, 0%);
  }
  contextmenu:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 8px;
    margin: auto;
    height: 5px;
    width: 40px;
    background-color: #7c7c7c69;
    border-radius: var(--radius-md);
  }
  contextmenucontent {
    width: 100%;
    /* background-color: #7c7c7c26; */
    border-radius: var(--radius-md);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    contain: content;
  }
  contextmenuitem:not([hr]) {
    padding: 10px 16px;
    width: calc(100% - 32px);
    border-radius: var(--radius-md);
    gap: 0px;
  }
  contextmenulist {
    position: relative;
    height: 0px;
    left: initial !important;
    top: initial !important;
    bottom: initial !important;
    right: initial !important;
    transform: none !important;
    transition-property: height;
    overflow: hidden;
    contain: content;
    background-color: transparent;
    box-shadow: none;
    padding: 0px;
    width: 100%;
    opacity: 1;
    border-radius: var(--radius-md);
    transition: var(--trans-elg) !important;
    transition-property: height, margin-top !important;
  }
  .contextmenuitem-ico {
    font-size: 21px;
  }
  .contextmenuitem-text {
    padding-top: 1px;
  }
  contextmenuitem:not([active]):hover
    > .contextmenuitem-content
    > .contextmenuitem-more {
    transform: rotate(90deg);
  }
  contextmenuitem[active]:hover
    > .contextmenuitem-content
    > .contextmenuitem-more {
    transform: rotate(-90deg);
  }
  contextmenuitem > .contextmenuitem-content > .contextmenuitem-more {
    transform: rotate(90deg);
  }
  contextmenuitem[active] > .contextmenuitem-content > .contextmenuitem-more {
    transform: rotate(-90deg);
  }
}
